# IDEs
.idea/
.vscode/

# Ambientes virtuais
.venv/
env/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos temporários
*.log
*.tmp
*.swp

# AppImage build intermediário
*.squashfs
.mount/

# Ignore outros arquivos temporários comuns
.DS_Store
Thumbs.db
